<a href="https://colab.research.google.com/github/gksquf0336/ChungnamWorkForceDevelopCenter_AI_Python/blob/main/0623_colab_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩 테스트

w3schools 띄우고 하긔

In [20]:
print("Hello, World!")
#print("Hello, World!")
#written in
#more than just one line

"""
This is a comment
written in
more than just one line
"""

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Hello, World!
Orange
Banana
Cherry

In [10]:
x = 1
y = 'John'
Y = "Sally"
print(x)
print(y)
print(Y)

a = str(3)
b = int(3)
c = float(3)

print(type(a))
print(type(b))
print(type(c))


myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

1
John
Sally
<class 'str'>
<class 'int'>
<class 'float'>

In [16]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

X = "Python is awesome"
print(X)

a = "Python"
b = "is"
c = "awesome"
print(a, b, c)

A = "Python "
B = "is "
C = "awesome"
print(A + B + C)

Orange
Orange
Orange
Python is awesome
Python is awesome
Python is awesome

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

X = 5
Y = 10
print(X + Y)

a = 5
b = "John"
print(a, b)

apple
banana
cherry
15
5 John

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [21]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [22]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [23]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [24]:
x = 5
print(type(x))

# x = "Hello World"	str
# x = 20	int
# x = 20.5	float
# x = 1j	complex
# x = ["apple", "banana", "cherry"]	list
# x = ("apple", "banana", "cherry")	tuple
# x = range(6)	range
# x = {"name" : "John", "age" : 36}	dict
# x = {"apple", "banana", "cherry"}	set
# x = frozenset({"apple", "banana", "cherry"})	frozenset
# x = True	bool
# x = b"Hello"	bytes
# x = bytearray(5)	bytearray
# x = memoryview(bytes(5))	memoryview
# x = None	NoneType

# x = str("Hello World")
# x = int(20)
# x = float(20.5)
# x = complex(1j)
# x = list(("apple", "banana", "cherry"))
# x = tuple(("apple", "banana", "cherry"))
# x = range(6)
# x = dict(name="John", age=36)
# x = set(("apple", "banana", "cherry"))
# x = frozenset(("apple", "banana", "cherry"))
# x = bool(5)
# x = bytes(5)
# x = bytearray(5)
# x = memoryview(bytes(5))

<class 'int'>

In [26]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [30]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [34]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

import random

print(random.randrange(1, 10))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
2

In [36]:
x = int(1)
y = int(2.8)
z = int("3")

In [37]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [38]:
x = str("s1")
y = str(2)
z = str(3.0)

In [51]:
print("Hello")
print('Hello')

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

a = "Hello"
print(a)

b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b)

c = "Hello, World!"
print(c[1])

Hello
Hello
It's alright
He is called 'Johnny'
He is called "Johnny"
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
e

In [61]:
for x in "banana":
  print(x)

  a = "Hello, World!"
print(len(a))

txt = "The best things in life are free!"
print("free" in txt)

b
a
n
a
n
a
13
True
Yes, 'free' is present.

In [62]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [63]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [64]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [68]:
b = "Hello, World!"
print(b[2:5])

llo

In [69]:
b = "Hello, World!"
print(b[:5])

Hello

In [70]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [71]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [72]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [73]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [74]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [75]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [77]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [78]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [79]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [80]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [81]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [82]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [83]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [86]:
txt = "We are the so-called \"Vikings\" from the north."

# \'	Single Quote
# \\	Backslash
# \n	New Line
# \r	Carriage Return
# \t	Tab
# \b	Backspace
# \f	Form Feed
# \ooo	Octal value
# \xhh	Hex value